body {
    margin: 0;
    padding: 0;
}

.location-popup {
    background-color: white;
    padding: 5%;
    width: 200px;
    height: 160px;
    user-select: none;
}

.location-popup-list {
    list-style-type: none; /* don't show tick marks */
}